@import "src/style/colors";
@import "src/style/mixins";

.container {
  @include clickable_fill;
}

.circle {
  display: inline-block;
  border-radius: 100%;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
}

.blue {
  background-color: $main-blue;
}

.green {
  background-color: $main-green;
}

.yellow {
  background-color: $main-yellow;
}

.red {
  background-color: $main-red;
}
