<div class="container">
  <div class="header">{{ table.label }}</div>
  <div class="content" [ngSwitch]="getState()">
    <div *ngSwitchCase="'free'" class="free" (click)="order.open()">LIBRE</div>
    <app-table-occupied *ngSwitchCase="'occupied'"
                        [invoice]="table.invoice_set[0]"
                        (click)="order.open()">
    </app-table-occupied>
    <app-table-dirty *ngSwitchCase="'dirty'"></app-table-dirty>
  </div>
</div>
<app-modal #order>
  <app-order *ngIf="order.isVisible" [table]="table" [modalRef]="order">
  </app-order>
</app-modal>
