@import "src/style/mixins";
@import "src/style/colors";

.container {
  width: 224px;
  height: 160px;
  @include border;
  background: white;
  margin: 8px;
  display: inline-block;
}

.header {
  background: $main-color;
  height: 32px;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-top: 3px;
  box-sizing: border-box;
  border-radius: 8px 8px 0 0;
}

.content {
  height: 128px;
  border-radius: 0 0 8px 8px;
  overflow: auto;
  line-height: 0;
}

.action {
  @include clickable_fill;
  text-align: center;
  box-sizing: border-box;
  padding: 60px 0 0 0;
  font-size: 33px;
  font-weight: bold;
}

.free {
  color: $main-green;
}

.dirty {
  color: $main-red;
}
