@import "src/style/colors";
@import "src/style/mixins";

button {
  background: $main-color;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 11px 0;
  width: 100%;
  border: none;
  @include border;

  &:hover {
    background: $main-color-hover;
  }

  &:active {
    box-shadow: none;
  }

  &.alert {
    background: $main-alert-color;

    :hover {
      background: $main-alert-color;
    }
  }
}
