@import "src/style/colors";
@import "src/style/mixins";

button {
  background: $main-color;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 14px;
  border: none;
  margin: 2px 4px;
  @include border;
  outline: none;

  &:hover {
    background: $main-color-hover;
  }

  &:active {
    box-shadow: none;
  }
}
