.container {
  width: 100vw;
  height: 100vh;
  background-image: url(src/assets/login-background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  background: green;
}
